= render partial: "layouts/space"
.container.proto-list
  .row
    = render partial: "prototypes/prototype", collection: @prototypes
.text-center
  %ul.pagination
    %nav.pagination
      %li.active
        = paginate(@prototypes)
