.container.proto-list
  .row
    - @prototypes.each do |prototype|
      .col-sm-4.col-md-3.proto-content
        .thumbnail
          = link_to prototype_path(prototype) do
            .btn.btn-default ACTION
            = image_tag(prototype.images.main.first.image)
          .caption
            %h3
              = prototype.title
            .proto-meta
              .proto-date
                Apr 26
            %ul.proto-tag-list.list-inline
              = link_to "#" do
                %li
                  .btn.btn-default iPad
                %li
                  .btn.btn-default wireframe
