.container
  .row
    .col-sm-4.col-sm-3
      %a.tag.thumbnail{href: "/tags/web"}
        .tag-name
          web
        .tag-project
          1 project
    .col-sm-4.col-sm-3
      %a.tag.thumbnail{href: "/tags/ios"}
        .tag-name
          iOS
        .tag-project
          1 project
    .col-sm-4.col-sm-3
      %a.tag.thumbnail{href: "/tags/design"}
        .tag-name
          Design
        .tag-project
          1 project
