.container
  .row
    .tag-header
      %span # web
    .col-sm-4.col-md-3.proto-content
      .thumbnail
        %a{href: "/prototypes/1"}
          %img{alt: " ", src: "sample.png"}/
        .caption
          %h3
            Salvation Army on iPad App Wireframe
          .proto-meta
            .proto-user
              %a{href: "/users/1"} user
            .proto-posted
              Jun 28 Tue
